@charset "utf-8";

/********************************************************************
Publishing :Park Ki Ok
Beginning : 20150617
Project Name : Melon Mobile Guide
*********************************************************************/
/* Reset */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:droid sans,Dotum,Helvetica,sans-serif;font-size:14px;line-height:1.6em;vertical-align:middle;}
html,body{width:100%;height:100%;-webkit-text-size-adjust:none;}
fieldset{border:0}
legend{overflow:hidden;width:0;height:0;line-height:0;font-size:0}
caption{display:none}
button{display:inline-block;overflow:visible;position:relative;margin:0;border:0;background:none;vertical-align:middle;cursor:pointer}
img{border:0;font-size:0;line-height:0}
ul,ol{list-style:none}
em,address,label,span{font-style:normal}
article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block;margin:0;padding:0}

/* 권장사항 : 유동 레이아웃 시 박스모델 border-box가 적합함. 필요한 영역에만 box-sizing:content-box; 를 적용한다 */
*, *:after, *:before{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
img,a,button,input{-webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* 일부 안드로이드 호환을 위한 코드 */ }

/* *********************************  Default ********************************** */
table{width:100%;border-collapse:collapse;border-spacing:0}
a{display:inline-block;color:#40B2E8;text-decoration:none}
a:hover,a:active,a:focus{text-decoration:none}
input[type=button]{border-radius:0;border:none;background:none;-webkit-border-radius:0;-webkit-appearance:none;}
textarea{padding:5px;border:0;background:none;resize:none}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder,input::-moz-placeholder,textarea::-moz-placeholder{line-height:1.3em;color:#d6d6d6 !important;vertical-align:middle}
input[type*=te],input[type=email],input[type=password]{padding:0 10px;border-radius:0;border:none;background:none;-webkit-border-radius:0;-webkit-appearance:none}

input[type*=te]:disabled,input[type=email]:disabled,input[readonly=readonly]{background:#f8f8f8}

.wrap_sel{position:relative;border:1px solid #d6d6d6}
.btn_sel{display:block;min-height:30px;padding:5px 20px 5px 5px}
.btn_sel:after{display:block;position:absolute;top:0;right:5px;width:16px;height:30px;background:url(../img/bg_select.gif) no-repeat right 50%;background-size:16px auto;content:''}
.sel_out{display:block;overflow:hidden!important;text-align:center;white-space:nowrap;text-overflow:ellipsis}
.wrap_sel select{position:absolute;top:0;left:0;z-index:10;width:100%;min-height:100%;max-height:100%;height:30px;border:none;opacity:0;-webkit-appearance:none}

/* ******** 공통 Form ******** */
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder,input::-moz-placeholder,textarea::-moz-placeholder{line-height:1.3em;color:#d6d6d6 !important;vertical-align:middle}

input[type*=te],input[type=email],input[type=password]{border-radius:0;border:none;background:none;-webkit-border-radius:0;-webkit-appearance:none}

input[type*=te]:disabled,input[type=email]:disabled,input[readonly=readonly]{background:#f8f8f8}

/* 라디오버튼 */
input,label{display:inline-block;margin:0;padding:0;border:none;vertical-align:middle}
input[type=radio]{width:21px;height:21px;border:none;background:url(../img/bg_radio.png) no-repeat 0 0;background-size:21px 80px;vertical-align:middle;-webkit-background-size:21px 80px;-webkit-appearance:none}/* 기본 */

input[type=radio]:checked{background-position:0 -25px}/* 체크드 */
input[type=radio]:disabled{background-position:0 -50px} /* 비활성 */

/* 체크박스 */
input[type=checkbox]{width:23px;height:23px;background:url(../img/bg_checkbox.png) no-repeat 0 0;background-size:23px auto;-webkit-appearance:none;background-origin:content-box;-webkit-background-origin:content-box;background-clip: padding-box;-webkit-background-clip: padding-box;border-radius:0;-webkit-border-radius:0;}/* 기본 */
input[type=checkbox]:checked{background-position:0 -25px}/* 체크드 */
input[type=checkbox]:disabled{background-position:0 -50px} /* 비활성 */

/* 입력박스 */
.btn_comm,.btn_comm2,.ico_comm{display:block;overflow:hidden;margin-right:2px;font-size:0;line-height:0;text-indent:-3000px;cursor:pointer}
.ico_comm:after,.btn_comm:after{display:block;overflow:hidden;position:relative;height:100%;background:url(../img/comm_srch.png) no-repeat;background-size:115px auto;content:'';-webkit-background-size:115px auto}
.btn_comm{padding:5px}

.h_srch{position:relative}
.w_srch{padding:8px 55px 2px 14px}
.w_srch > label{display:none;font-size:0;text-indent:-3000px}
.input_box{display:block;position:relative;padding:6px 70px 5px 13px;border:#00cd3c 2px solid;border-radius:37px}
.input_box input{width:100%;line-height: 1em;}
.btn_dels,.btn_srch{display:block;position:absolute;top:3px;right:10px;content:''}
.w_srch .btn_dels{display:none;right:40px}
.w_srch.on .btn_dels{display:block}
.btn_dels,.btn_srch{display:block;position:absolute;top:3px;right:10px;counter-reset: ;ntent:''}
.w_srch .btn_dels{display:none;right:40px}
.w_srch.on .btn_dels{display:block}
.btn_dels:after{width:17px;height:17px;background-position:-40px -20px}
.btn_srch:after{width:18px;height:18px;background-position:0 -20px}
.inpu_srch{height:100%;padding:0 20px;line-height:100%;color:#222}
.btn_songsrch:after{min-width:15px;width:15px;height:20px;background-position:-20px -20px}
.btn_songsrch{position:absolute;top:14px;right:15px;font-size:0;text-indent:-3000px}


/* 콘트롤 버튼 */
.w_btn_ctr1{padding:15px 0}
.whd_btn_ctr1{padding:0 0 10px}
.hd_btn_ctr1{display:inline-block;width:auto;height:auto;font-size:16px;line-height:1.8em}
.g_btn_ctr1{display:table;width:100%;height:30px;border:#cdcdcd 2px solid;border-radius:2em;table-layout:fixed;-webkit-border-radius:2em;-moz-border-radius:2em;background-clip:padding-box;-webkit-background-clip:padding-box;background-origin:padding-box;-webkit-background-origin:padding-box;}
.g_btn_ctr1.disabled{border-color:#eee}
.e_btn_ctr{display:block;width:33.3%;height:26px;float:left;position:relative}
.e_btn_ctr:after{content:" ";display:block;width:100%;height:100%;}
.lbl_ctr{display:block;position:absolute;top:0;left:0;z-index:2;width:100%;border-radius:2em;background-color:#fff;color:#cdcdcd;text-align:center;-webkit-border-radius:2em;-moz-border-radius:2em}
input.btn_ctr{display:block;position:absolute;top:50%;left:50%;z-index:1;margin-left:-10px;margin-top:-10px;background:none;text-align:center;outline:none}
input.btn_ctr:checked + label.lbl_ctr{top:-2px;left:-2px;height:30px;border:#00cd3c 2px solid;color:#00cd3c}
input.btn_ctr:disabled + label.lbl_ctr{color:#eee}
.e_btn_ctr:last-child input.btn_ctr:checked + label.lbl_ctr{left:2px}

/* 토글 버튼 */
.g_switch{overflow:hidden;position:relative;width:77px;height:28px;border-radius: 2em;-webkit-border-radius: 2em;-moz-border-radius: 2em;background-color:#bbbaba;background-clip:padding-box;-webkit-background-clip:padding-box;background-origin:padding-box;-webkit-background-origin:padding-box;font-size:13px;font-weight:bold;color:#fff;cursor:pointer;}
.g_switch input{position:absolute;top:0;left:-999px}
.g_switch .btn_switch{overflow:hidden;display:block;clear:both;position:absolute;top:0;left:0;width:160px;height:28px;border-radius: 2em;-webkit-border-radius: 2em;-moz-border-radius: 2em;}
.g_switch .btn_switch:after{display:block;clear:both;position:absolute;top:1px;left:1px;width:0;height:0;margin:0 auto;border:1em solid #fff;border-radius:2em;-webkit-border-radius:2em;-moz-border-radius:2em;content:'';box-shadow:1px 1px 2px 0 rgba(0,0,0,0.3);-webkit-box-shadow:1px 1px 2px 0 rgba(0,0,0,0.3)}
.btn_switch .lbl_switch{width:77px;padding-left:10px;line-height:28px;text-align:center;vertical-align:middle}
.btn_switch .lbl_switch:last-child{padding-right:10px}
.btn_switch>span{display:inline-block;float:left;width:77px;height:100%;text-align:center;text-shadow:0 -1px rgba(0,0,0,0.2)}
span.lbl_switch:nth-child(2){float:right;padding-right:10px;padding-left:0}
.chk_switch:checked +label{background-color:#00cd3c;}
.chk_switch:checked +label >span{display:block;position:absolute;top:0;left:0;width:154px;transform:translateX(-77px);-webkit-transform:translateX(-77px);-webkit-backface-visibility: hidden;backface-visibility: hidden;}
.chk_switch:checked +label:after >span{transform:translateX(0);-webkit-transform:translateX(0);-webkit-backface-visibility: hidden;backface-visibility: hidden;}
.btn_switch:after{left:0}
.chk_switch:checked + .btn_switch:after{left:50px}

/* ******** 공통요소들 ******** */
/* clearfix */
.clrfix:after {
  content: "";
  display: table;
  clear: both;
}  
/* 주의, 안내 */
.itm_warn{color:#df2607}
.btn_basic{height:30px;margin-right:5px;padding:0 7px;border:1px solid #888;border-radius:3px;background:#fff;font-size:11px;line-height:30px;color:#666;text-align:center;box-sizing:border-box;-webkit-border-radius:3px}

/* IR 기법 */
.ir{text-indent:-9999px;}
.ir2{display:block;position:absolute;left:-9999px;}

/* 버튼 공통 스타일 */
.touched{opacity: 0.6}
.disabled{opacity: 0.6}

/* Common Template */
@media screen and (max-width:320px){
.tabMenu .tab.devide03_01{left:0;width:106px}
.tabMenu .tab.devide03_02{left:106px;width:107px}
.tabMenu .tab.devide03_03{left:213px;width:107px}
}

.round_tab{overflow:hidden;margin-top:15px}
.round_tab .tabMenu .tab{position:absolute;top:0;height:37px;background:none}
.round_tab .tabMenu .tab.devide02_01 a{border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px}
.round_tab .tabMenu .tab.devide02_02 a{border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0}
.round_tab .tabMenu .tab a{display:block;height:37px;border:1px solid #b2b2b4;background:#b2b2b4;line-height:37px;font-size:13px;color:#e2e2e3;text-align:center;box-sizing:border-box}
.round_tab .tabMenu .on .tab a{overflow:hidden;position:relative;z-index:1;background:#fff;color:#666}
.round_tab .tabMenu .wrap:first-child.on .tab a{border-left-width:1px}
.round_tab .tabMenu .wrap:last-child.on .tab a{border-right-width:1px}
.round_tab .tabMenu .cnt{display:none}
.round_tab .tabMenu .on .cnt{display:block;margin-top:52px}

/* 가로 리스트 예제 */
.grid_table{background-color:#eee}
.grid_table:after{display:block;clear:both;content:''}
.grid_table ul{display:table;width:100%;padding:1%;table-layout:fixed}
.grid_table li{display:table-cell;margin:1%;background:#efefef;list-style:none}
.grid_table a{display:block;background:#efefef;text-align:center}
.grid_table dt{font-weight:bold}
.grid_table img{width:55px;height:55px;text-align:center}
.grid_table .thumb,.grid_table dl{width:55px;margin:0 auto}
.grid_table dd{line-height:12px}
.grid_table ul:before{display:table-cell;content:''}
.grid_table ul:after{display:table-cell;content:''}

.grid_hr_flex1{background-color:#eee}
.grid_hr1:after{display:block;clear:both;content:''}
.grid_hr_flex1 ul{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;margin:0;padding:0;justify-content:space-between;list-style:none}
.grid_hr_flex1 ul:before{display:inline-block;width:1px;content:''}

.grid_hr_flex1 ul:after{display:inline-block;width:1px;content:''}

.grid_hr_flex1 li{display:inline-block;float:left;margin:1%;background:#E4e4e4;text-align:center}
.grid_hr_flex1 a{display:block;margin:0 auto;line-height:2em;text-align:center}
.grid_hr_flex1 dt{font-weight:bold}
.grid_hr_flex1 img{width:55px;height:55px;text-align:center}
.grid_hr_flex1 .thumb,.grid_hr_flex1 dl{width:55px;margin:0 auto;background:#efefef}
.grid_hr_flex1 dd{line-height:12px}

.grid_hr_full1{margin:15px 0;padding:0 1%;background:#eee}
.grid_hr_full1:after{display:block;clear:both;content:''}
.grid_hr_full1 ul{margin:0;padding:0}
.grid_hr_full1 li{float:left;width:48%;margin:1%;padding:10px;background-color:#E4e4e4;list-style:none}
.grid_hr_full1 a{display:block;margin:0 auto;line-height:2em;text-align:center}
.grid_hr_full1 dt{font-weight:bold}
.grid_hr_full1 img{width:100%;text-align:center}
.grid_hr_full1 .thumb,.grid_hr1 dl{margin:0 auto;background:#efefef}

.grid_hr1{margin:15px 0;padding:0 1%;background:#eee}
.grid_hr1:after{display:block;clear:both;content:''}
.grid_hr1 ul{margin:0;padding:0;}
.grid_hr1 li{float:left;width:23%;margin:1%;padding:10px;background-color:#E4e4e4;list-style:none}
.grid_hr1 a{display:block;width:55px;margin:0 auto;line-height:2em;text-align:center}
.grid_hr1 dt{font-weight:bold}
.grid_hr1 img{width:100%;text-align:center}
.grid_hr1.thumb,.grid_hr1 dl{width:55px;margin:0 auto;background:#efefef}
.media2.thumb,.media2 dl{width:auto;margin:0 auto;background:#efefef}
.media2 a{width:auto;}
.media2 img{width:100%;}

@media screen and (max-width:640px){
	.grid_hr1.media1 li{width:31.333%;}
}

/* 세로 리스트 예제 */
.grid_vr1{margin:15px 0;padding:0 1%;background:#eee}
.grid_vr1:after{display:block;clear:both;content:''}
.grid_vr1 ul{margin:0;padding:0}
.grid_vr1 li{float:left;width:48%;margin:1%;padding:10px;background-color:#E4e4e4;list-style:none}
.grid_vr1 a{display:block;width:90px;height:96px;margin:0 auto;line-height:2em;text-align:center}
.grid_vr1 dt{font-weight:bold}
.grid_vr1 img{width:55px;height:55px;text-align:center}
.grid_vr1 .thumb,.grid_vr1 dl{width:55px;margin:0 auto;background:#efefef}
.grid_vr1 dd{line-height:12px}

.grid_vr_full1{margin:15px 0;padding:0 1%;background:#eee}
.grid_vr_full1:after{display:block;clear:both;content:''}
.grid_vr_full1 ul{margin:0;padding:0}
.grid_vr_full1 li{float:left;width:48%;margin:1%;padding:10px;background-color:#E4e4e4;list-style:none}
.grid_vr_full1 a{display:block;margin:0 auto;line-height:2em;text-align:center}
.grid_vr_full1 dt{font-weight:bold}
.grid_vr_full1 img{width:100%;text-align:center}
.grid_vr_full1 .thumb,.grid_vr1 dl{margin:0 auto;background:#efefef}

/* flex박스 */
.vertical-container{display:-webkit-flex;display:flex;height:300px;margin:15px 0;border:#ccc 3px solid;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center}
.vertical-container .elem{position:relative;width:100px;height:100px;background:#6AC5AC}
.multi_ellip{display:-webkit-box;overflow:hidden;width:200px;border:red 1px solid;font-size:20px;text-overflow:ellipsis;-webkit-line-clamp:3;-webkit-box-orient:vertical}

/* 썸네일 이미지 */
.w_thm{float:left;width:33.3%}
.w_thm:nth-child(3n+1){clear:both;}
.g_thm{position:relative;width:100px;height:100px;overflow:hidden;}
.g_thm:after{z-index:10;content:"";display:block;position:absolute;left:0;top:0;width:100%;height:100%;border:rgba(0,0,0,0.2) 1px solid;}
.e_thm{z-index:1;display:table-cell;position:absolute;left:50%;top:50%;width:1600px;height:1600px;margin-left:-800px;margin-top:-800px;vertical-align:middle;text-align:center;line-height:1600px}
.img_thm{display:inline-block;vertical-align:middle;max-height:100px;}
.ex_h .img_thm{max-height:none;max-width:100px;}
.thm_crop2 .img_thm{display:inline-block;vertical-align:middle;max-width:100px;max-height:none;}

@media screen and (max-width:480px){
  .w_thm{float:none;}
  .w_thm2{float:none}
  .thum_case img{max-width:100%}
}

.w_cnt .t_tit {
    overflow: hidden;
    font-size: 16px;
    color:#4a4a4a;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.w_cnt .u_srch {
    list-style-type:none;
}

.u_srch > li {
    position: relative;
    border-bottom:#ededed 1px solid;
}

.d_song{
    display:block;       
    position: relative;   
    padding: 9px 40px 9px 14px;
}
.d_song:after{
  display: table;
  clear: both;
  table-layout: fixed;
 }
.w_thm2 {
     float:left;
      width:20%;
}

.w_thm2 img {
    width: 100%;
    vertical-align: middle;
}

.w_info {
    padding: 9px 0 9px 14px;    
    position:absolute;
    left:20%;
    right:0;
    top:0;
    bottom:0;    
    vertical-align: middle;
    white-space: normal;
    word-wrap: break-word;
}
.w_info:after{
	content:"";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.e_flex{
	display: inline-block;
	vertical-align: middle;
	word-wrap:break-word;
}

.song {margin:0;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.singer{color:#b4b4b4;display:block;}




.w_cnt_vr .w_thm2 {
     float:left;
    width: 68px;    
}

.w_cnt_vr .w_thm2 img {
    width: 68px;
    vertical-align: middle;
}

.w_cnt_vr .w_info {
    
    left:68px;
    padding-left:20px;
}


/* ******** Layouts ******** */
footer{padding:50px 0;}
.lnb {z-index:50;-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-overflow-scrolling: touch;}
.head_wrap{position: relative;}
.leftmenu {padding:10px;position: absolute;left:0;top:-10px;display:none;width: 45px;height: 45px;text-indent: -1000em;font-size: 0;}
.leftmenu:after{content:"";display:block;background-position:-27px -67px;width:21px;height:18px;}
.btn_close{display:none;position: absolute;right:10px;top:10px;  
  width: 45px;
  height: 45px;
  text-indent: -1000em;
  font-size: 0;}
	.btn_close:before{
display: block;
  content: '';
  width: 3px;
  height: 23px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #2f3135;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: -12px -12px 0 0;
	}
	.btn_close:after{
		display: block;
  content: '';
  width: 3px;
  height: 23px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #2f3135;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: -12px -12px 0 0;
	}
@media screen and (max-width:768px){
	.leftmenu {display:block;}
}

@media (max-width:768px){
	.lnb {
		background:#fff;
		position:absolute;
		left:-100%;
		top:0;
		width:100% !important;
		height:100% !important;				
		overflow-x:hidden;
		overflow-y:scroll;
		-webkit-transform:translateX(-100%);
		-webkit-transition-duration:0.5s;
    -webkit-backface-visibility: hidden;backface-visibility: hidden;

	}
	body.on{position: fixed;}
	body.on .lnb {
		-webkit-transform:translateX(100%);
		-webkit-transition-duration:0.5s;		
    -webkit-backface-visibility: hidden;backface-visibility: hidden;
	}

	body.on .bs-docs-sidebar .nav .nav{display:block;}
	.btn_close{display:block;}


}
.goto_top{position:fixed;right:20px;bottom:20px;z-index:30;}
.goto_top:after{width: 42px;height:42px;background-position:-51px -67px;}

