<section id="contacts" class="contacts text-center section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="section-title">Contact Us</h2>
      </div>
    </div>
    <div class="section-body">
      <div class="row row-columns row-padding">
        <div class="col-contact column column-padding col-md-4">
          <i class="icon fa fa-3x fa-phone"></i>
          <h3>twitter</h3>
          <p>...</p>
        </div>
        <div class="col-contact column column-padding col-md-4">
          <i class="icon fa fa-3x fa-map-marker"></i>
          <h3>instagram</h3>
          <p>...</p>
        </div>
        <div class="col-contact column column-padding col-md-4">
          <i class="icon fa fa-3x fa-envelope"></i>
          <h3>Email</h3>
          <p><a href="mailto:kmgizmo@gmail.com">kmgizmo@gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>

</section>