<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Nora's github pages</title>
</head>

<body>

    <%= require('html-loader!./template/header.html') %>
    <%= require('html-loader!./template/home.html') %>
    <%= require('html-loader!./template/about.html') %>
    <%= require('html-loader!./template/porfolio.html') %>
    <%= require('html-loader!./template/contact.html') %>
    <%= require('html-loader!./template/footer.html') %>
    <a href="#" class="btn_go_down">down</a>

</body>

</html>