$white: #fff;
$white_5: rgba(255, 255, 255, 0.05);
$white_95: rgba(255, 255, 255, 0.95);
$white_90: rgba(255, 255, 255, 0.9);
$black: #000;
$black_10: rgba(0, 0, 0, 0.1);
$black_20: rgba(0, 0, 0, 0.2);
$black_35: rgba(0, 0, 0, 0.3);
$black_40: rgba(0, 0, 0, 0.4);
$black_60: rgba(0, 0, 0, 0.6);
$color_crimson_approx: #d0112b;
$color_bon_jour_approx: #e1e1e1;
$color_mine_shaft_approx: #333;
$color_celeste_approx: #ccc;
$color_gravel_approx: #4b4b4c;
$color_blue_bayoux_approx: #4d606f;
$color_tuna_approx: #323c46;
$color_laser_approx: #d4b068;
$color_star_dust_approx: #9f9f9f;
$color_burning_sand_approx: #d99675;
$color_persimmon_approx: #ff6548;
$color_alto_approx: #dadada;
$color_black_haze_approx: #f7f7f7;
$color_silver_chalice_approx: #adadad;
$color_silver_sand_approx: #c2c2c2;
$color_malachite_approx: #00cd3c;

